trigger:
- master

pr:
- master

# I really like date based version numbers. It wouldn't work for external facing software, but
# this is an enterprise app
name: $(Date:yyyy.MM.dd)$(Rev:.r)

jobs:

# The iOS build job
- job: 'iOS'
  pool:
    # This is a Microsoft hosted agent. I could maintain my own build server, but I get it for "free", so...
    vmImage: 'macOS-latest'

  variables:
    # I have some code that checks for environment variables, hence while the special configurations
    qabuildConfiguration: 'QA'
    prdBuildConfiguration: 'PRD'

    iOSProjectFolder: 'lpains.mobile/lpains.mobile.iOS'

    # This is the app plist. We will modify each per each environment
    iOSPList: 'lpains.mobile/lpains.mobile.iOS/Info.plist'

    # For enterprise apps published on a website, you need a .plist file to install on iOS
    iOSInstallPList: 'lpains.mobile/lpains.mobile.iOS/com.lpains.mobile.plist'
    
    iOSProject: '$(iOSProjectFolder)/lpains.mobile.iOS.csproj'
    commonProject: 'lpains.mobile/lpains.mobile/lpains.mobile.csproj'
    
    buildPlatform: 'iPhone'

  steps:
  - task: InstallAppleCertificate@2
    displayName: 'Install an Apple certificate'
    inputs:
      # you need to add your enterprise p12 cert as a secure file and reference it here by id
      certSecureFile: '00000000-0000-0000-0000-000000000000'
      # create a build variable and ensure it is marked as secret
      certPwd: '$(P12password)'

  - task: InstallAppleProvisioningProfile@1
    displayName: 'Install an Apple provisioning profile'
    inputs:
      # you need to add your enterprise mobileprovisioning file as a secure file and reference it here by id
      provProfileSecureFile: '00000000-0000-0000-0000-000000000000'

  - task: NuGetToolInstaller@0

  # Restore nuget on iOS project
  - task: NuGetCommand@2
    displayName: 'NuGet restore iOS'
    inputs:
      restoreSolution: '$(iOSProject)'

  # Restore nuget on XamarinForms project. Build might fail if you don't restore projects individually
  - task: NuGetCommand@2
    displayName: 'NuGet restore Common'
    inputs:
      restoreSolution: '$(commonProject)'

  # Set the plist info for QA
  # This is where you change display name, icon sets and app version
  - task: Bash@3
    displayName: 'Set plist info'
    inputs:
      targetType: 'inline'
      script: |
        #!/bin/bash
        echo "setting plist with Build number info"
        echo "File $(iOSPList)"
        echo "setting CFBundleVersion to $(Build.BuildNumber)"
        echo "setting CFBundleDisplayName to LPains QA"
        
        /usr/libexec/PlistBuddy -c "set :CFBundleVersion $(Build.BuildNumber)" $(iOSPList)
        /usr/libexec/PlistBuddy -c "set :CFBundleShortVersionString $(Build.BuildNumber)" $(iOSPList)
        /usr/libexec/PlistBuddy -c "set :CFBundleDisplayName LPains QA" $(iOSPList)
        /usr/libexec/PlistBuddy -x -c "Print" $(iOSPList)
  # Compile the iOS app for QA
  # Don't build the solution but rather the iOS project
  - task: XamariniOS@2
    displayName: 'Build Xamarin.iOS'
    inputs:
      solutionFile: '$(iOSProject)'
      configuration: $(qabuildConfiguration)
      clean: true
      # These two variables are created for you on the Install Certificate and Provisioning profile steps
      signingIdentity: '$(APPLE_CERTIFICATE_SIGNING_IDENTITY)'
      signingProvisioningProfileID: '$(APPLE_PROV_PROFILE_UUID)'

  # Change the plist again for PRD
  - task: Bash@3
    displayName: 'Set plist info'
    inputs:
      targetType: 'inline'
      script: |
        #!/bin/bash
        echo "setting plist with Build number info"
        echo "File $(iOSPList)"
        echo "setting CFBundleVersion to $(Build.BuildNumber)"
        echo "setting CFBundleDisplayName to LPains"
        
        /usr/libexec/PlistBuddy -c "set :CFBundleVersion $(Build.BuildNumber)" $(iOSPList)
        /usr/libexec/PlistBuddy -c "set :CFBundleShortVersionString $(Build.BuildNumber)" $(iOSPList)
        /usr/libexec/PlistBuddy -c "set :CFBundleDisplayName LPains" $(iOSPList)
        /usr/libexec/PlistBuddy -x -c "Print" $(iOSPList)
  # Compile again for PRD
  - task: XamariniOS@2
    displayName: 'Build Xamarin.iOS'
    inputs:
      solutionFile: '$(iOSProject)'
      configuration: $(prdbuildConfiguration)
      clean: true
      signingIdentity: '$(APPLE_CERTIFICATE_SIGNING_IDENTITY)'
      signingProvisioningProfileID: '$(APPLE_PROV_PROFILE_UUID)'

  # Prepare your deploy plist for QA
  # Example plist is provided later in this article
  - task: Bash@3
    displayName: 'Set install plist info'
    inputs:
      targetType: 'inline'
      script: |
        #!/bin/bash
        echo "File $(iOSInstallPList)"
        echo "setting plist with Build number info"
        
        /usr/libexec/PlistBuddy -c "set :items:0:metadata:bundle-version $(Build.BuildNumber)" $(iOSInstallPList)
        /usr/libexec/PlistBuddy -c "set :items:0:assets:0:url https://lpains.net/content/com.lpains.mobile.ipa" $(iOSInstallPList)
        /usr/libexec/PlistBuddy -x -c "Print" $(iOSInstallPList)
  # Copy the ipa and plist files to QA staging directory
  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(iOSProjectFolder)'
      Contents: |
        bin/iPhone/QA/*.ipa
        com.lpains.mobile.plist
      TargetFolder: '$(build.artifactstagingdirectory)/QA'
      flattenFolders: true

  # Prepare your plist for PRD
  - task: Bash@3
    displayName: 'Set install plist info'
    inputs:
      targetType: 'inline'
      script: |
        #!/bin/bash
        echo "File $(iOSInstallPList)"
        echo "setting plist with Build number info"
        
        /usr/libexec/PlistBuddy -c "set :items:0:metadata:bundle-version $(Build.BuildNumber)" $(iOSInstallPList)
        /usr/libexec/PlistBuddy -c "set :items:0:assets:0:url https://lpains.net/content/com.lpains.mobile.ipa" $(iOSInstallPList)
        /usr/libexec/PlistBuddy -x -c "Print" $(iOSInstallPList)
  # Copy the ipa and plist files to PRD staging directory
  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(iOSProjectFolder)'
      Contents: |
        bin/iPhone/Release/*.ipa
        com.lpains.mobile.plist
      TargetFolder: '$(build.artifactstagingdirectory)/PRD'
      flattenFolders: true

  # Publish the artifacts
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: iOS'
    inputs:
      PathtoPublish: '$(build.artifactstagingdirectory)'
      ArtifactName: iOS

# The Android build job
- job: android

  pool:
    # This is a Microsoft hosted agent. I could maintain my own build server, but I get it for "free", so...
    vmImage: 'windows-2019'

  variables:
    # I have some code that checks for environment variables, hence while the special configurations
    # Do not build the .sln file, instead do all tasks using the .csproj
    buildConfiguration: 'QA'
    prdBuildConfiguration: 'PRD'
    androidProjectFolder: 'lpains.mobile/lpains.mobile.Android'
    androidProject: 'lpains.mobile/lpains.mobile.Android/lpains.mobile.Android.csproj'
    commonProject: 'lpains.mobile/lpains.mobile/lpains.mobile.csproj'
    buildPlatform: 'Any CPU'
    qaOutputDirectory: '$(build.binariesDirectory)/$(buildConfiguration)'
    prdOutputDirectory: '$(build.binariesDirectory)/$(prdBuildConfiguration)'

  steps:
  - task: NuGetToolInstaller@0

  # restore the packages for the Android project
  - task: NuGetCommand@2
    displayName: 'NuGet restore Android'
    inputs:
      restoreSolution: '$(androidProject)'

  # restore the packages for the Common project
  - task: NuGetCommand@2
    displayName: 'NuGet restore Common'
    inputs:
      restoreSolution: '$(commonProject)'

  # change the package number to be the build number which is based
  # on a date yyyy.MM.dd.review
  - task: android-manifest-version@1
    inputs:
      sourcePath: '$(androidProjectFolder)/Properties/AndroidManifest.xml'
      versionCodeOption: 'buildid'
      versionCode: '$(Build.BuildId)'
      versionName: '$(Build.BuildNumber)'
      printFile: true

  # change the package name and label to match the QA environment
  - task: android-manifest-package-name@1
    inputs:
      sourcePath: '$(androidProjectFolder)/Properties/AndroidManifest.xml'
      packageName: 'com.lpains.mobile'
      appLabel: 'LPains QA'
      printFile: true

  # build the xamarin project for QA
  - task: XamarinAndroid@1
    displayName: 'Build Android QA'
    inputs:
      projectFile: '$(androidProject)'
      configuration: '$(buildConfiguration)'
      msbuildVersionOption: 'latest'

  # change the package name and label to match the PRD environment
  - task: android-manifest-package-name@1
    inputs:
      sourcePath: '$(androidProjectFolder)/Properties/AndroidManifest.xml'
      packageName: 'com.lpains.mobile'
      appLabel: 'LPains'
      printFile: true

  # sign the apk with 
  - task: AndroidSigning@3
    displayName: 'Sign Android apk'
    inputs:
      apkFiles: '$(androidProjectFolder)/bin/**/*.apk'
      apksignerKeystoreFile: '00000000-0000-0000-0000-000000000000'
      # create a build variable and ensure it is marked as secret
      apksignerKeystorePassword: '$(KeystorePassword)'
      apksignerKeystoreAlias: LPains Android
      apksignerKeyPassword: '$(KeystorePassword)'
      # for some reason, the build was always picking build-tools version 26. 
      # this is to ensure it uses the right version
      # check MS hosted agent documentation with list of tools available
      apksignerFile: 'C:\Program Files (x86)\Android\android-sdk\build-tools\28.0.3\apksigner.bat'

  # copy the apk files to the staging directory
  - task: CopyFiles@2
    displayName: "Copy apk"
    inputs:
      SourceFolder: '$(androidProjectFolder)/bin'
      Contents: '**/*.apk'
      TargetFolder: '$(build.artifactstagingdirectory)'
      flattenFolders: false

  # publish build artifacts
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: Android'
    inputs:
      PathtoPublish: '$(build.artifactstagingdirectory)'
      ArtifactName: Android
